@model IEnumerable<Tirelires.Produit>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .container-fluid a:hover, .container-fluid a:visited, .container-fluid a:active {
        text-decoration: none;
    }

    .container-fluid a:hover {
        color: chocolate
    }

    .container-fluid a {
        color: inherit;
        text-decoration: none;
    }

    .container .card-price {
        font-size: 2rem
    }

    .container-fluid .card {
        border-top: none;
        border-right: none;
        border-left: none;
    }


    .container-fluid .checked {
        color: orange;
    }

    .container-fluid span {
        text-align: right
    }

        span.stars span {
            background-position: 0 0;
        }
    /**/
</style>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<h2>Produits</h2>
<div class="card-deck">
    @foreach (var item in Model)
    {



        <a class="card" href="@Url.Action("Details", "Produit", new { Id = item.Id })">

            <img class="card-img-top" src="@Url.Content(item.URLImage)" alt="image non trouvée" />
            <div class="card-body@(item.Id)">

                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nom)</h5>

                <p class="card-text">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
                @{float s = 0;
                    foreach (var a in item.Avis)
                    {

                        s = s + a.Note;
                    }
                }



                <p class="card-price text-center">@Html.DisplayFor(modelItem => item.Prix) €</p>
                <p class="note@(item.Id) text-center" ></p>

                @if (item.Avis.Count() != 0)
                {
                    <input id="@(item.Id)" type="hidden" value="@(Math.Round( s / item.Avis.Count()))" /><br />
                    <script>
                        $("#@item.Id").ready(function () {
                            if ($("@item.Id").val != null) {
                                for (var i = 0; i < 5; i++) {
                                    if (i < $("#@item.Id").val()) {
                                        $(".note@(item.Id)").append("<span class='fa fa-star checked'></span>");
                                    }

                                    else {
                                        $(".note@(item.Id)").append("<span class='fa fa-star'></span>");
                                    }
                                }
                            }
                        });
                    </script>
                }

            </div>

        </a>

    }
</div>

@*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fournisseur.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActived)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prix)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitsInStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Poids)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.URLImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hauteur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Largeur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longueur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Capacite)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Couleur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>

            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fournisseur.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActived)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Poids)
                </td>
                <td>
    @Html.DisplayFor(modelItem => item.URLImage)
    <img src="@Url.Content(item.URLImage)" alt="image non trouvée" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hauteur)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Largeur)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Longueur)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Capacite)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Couleur)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.ActionLink("+ Panier", "AjouterAuPanier", "Panier", new { id = item.Id }, null)
    </td>
    </tr>
    }

    </table>*@
