@model Tirelires.Produit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Produit</h4>
    <hr />
    <div class="dl-horizontal">



        @*@Html.DisplayFor(model => model.URLImage)*@
        <img src="@Url.Content(Model.URLImage)" alt="image non trouvée" />
        <p class="float-right">
            @Html.ActionLink("Ajouter au Panier", "AjouterAuPanier", "Panier", new { id = Model.Id }, null)
        </p>
        <h6>
            @Html.DisplayFor(model => model.Nom)
        </h6>

        <p class="text-muted">
            de  @Html.DisplayFor(model => model.Fournisseur.Nom)

        </p>
        <p>

            @Html.DisplayFor(model => model.Description)
        </p>


        <p>
            @Html.DisplayNameFor(model => model.Prix) :
            <span class="font-weight-bold">
                @Html.DisplayFor(model => model.Prix)€
            </span>
        </p>



    <p>
        @Html.DisplayNameFor(model => model.UnitsInStock) : @Html.DisplayFor(model => model.UnitsInStock)
    </p>



    <p>
        @Html.DisplayNameFor(model => model.Poids)
        :
        @Html.DisplayFor(model => model.Poids)

    <p>
        @Html.DisplayNameFor(model => model.Hauteur)

        :

        @Html.DisplayFor(model => model.Hauteur)

    </p>
    <p>
        @Html.DisplayNameFor(model => model.Largeur)

        :
        @Html.DisplayFor(model => model.Largeur)

    </p>

    <p>
        @Html.DisplayNameFor(model => model.Longueur)
        :
        @Html.DisplayFor(model => model.Longueur)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.Capacite)
        :
        @Html.DisplayFor(model => model.Capacite)
    </p>

    <p>
        @Html.DisplayNameFor(model => model.Couleur)
        :
        @Html.DisplayFor(model => model.Couleur)
    </p>




    </div>
    
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
