@model IEnumerable<Tirelires.Produit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fournisseur.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poids)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URLImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hauteur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Largeur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longueur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Couleur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fournisseur.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsInStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poids)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.URLImage)*@
            <img src="@Url.Content(item.URLImage)" alt="image non trouvée" height="200"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hauteur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Largeur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longueur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Couleur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>

            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
